<form class="well" (submit)="additem($event)">
      <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add item...">    
      </div>  
</form>

<div class="container">
<div class="table-responsive">
        <table class="table-bordered" style="width:100%">
        <thead>
            <tr style="font:bold; background-color: #4CAF50; color:white;">
            <th style="padding:15px">ID #</th>
            <th style="padding:15px">Producto</th>
            <th style="padding:15px">Cantidad</th>
            <th style="padding:15px">Acciones</th>
        </tr>
    </thead>
    <tbody style="padding:15px">
            <tr *ngFor="let item of items">
                    <td style="padding:15px">{{item._id}}</td>
                    <td style="padding:15px"> {{item.Name}}</td>
                    <td style="padding:15px">{{item.Quantity}} </td>
                    <td style="padding:15px">
                        <input type="button" (click)="buyitem(item._id)" value="Comprar" class="btn btn-info">
                        <input type="button" (click)="deleteitem(item._id)" value="Eliminar" class="btn btn-danger"> 
                    </td>
                </tr>
    </tbody>
    </table>
               
        </div>
        </div>